// =============================================================================
// _animate.scss settings
// =============================================================================


@mixin animation (  $animation, $delay: 0s, $duration: 1s, $direction: normal, 
                    $iteration-count: 1, $fill-mode: both, $timing-function: ease-in-out ) {

    // -webkit-animation-delay: $delay;
    // -webkit-animation-duration: $duration;
    // -webkit-animation-name: $animation;
    // -webkit-animation-fill-mode: $fill-mode; 
    // -webkit-animation-timing-function: $timing-function;
    // -webkit-animation-iteration-count: $iteration-count;
    // -webkit-animation-direction: $direction;

    // -moz-animation-delay: $delay;
    // -moz-animation-duration: $duration;
    // -moz-animation-name: $animation;
    // -moz-animation-fill-mode: $fill-mode; 
    // -moz-animation-timing-function: $timing-function;
    // -moz-animation-iteration-count: $iteration-count;
    // -moz-animation-direction: $direction;     

    // -ms-animation-delay: $delay;
    // -ms-animation-duration: $duration;
    // -ms-animation-name: $animation;
    // -ms-animation-fill-mode: $fill-mode; 
    // -ms-animation-timing-function: $timing-function;
    // -ms-animation-iteration-count: $iteration-count;
    // -ms-animation-direction: $direction;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fill-mode; 
    animation-timing-function: $timing-function;
    animation-iteration-count: $iteration-count;
    animation-direction: $direction;        

}