
/*==============================================================================================================

	__________                            _________                        _________ __          _____  _____ 
	\______   \____    ______ ____       /   _____/____    ______ ______  /   _____//  |_ __ ___/ ____\/ ____\
	 |    |  _|__  \  /  ___// __ \      \_____  \\__  \  /  ___//  ___/  \_____  \\   __\  |  \   __\\   __\ 
	 |    |   \/ __ \_\___ \\  ___/      /        \/ __ \_\___ \ \___ \   /        \|  | |  |  /|  |   |  |   
	 |______  (____  /____  >\___  > /\ /_______  (____  /____  >____  > /_______  /|__| |____/ |__|   |__|   
			\/     \/     \/     \/  )/         \/     \/     \/     \/          \/                           


	Base sass styles: opinionated defaults


=================================================================================================================

/*
 * Settings for compass vendor prefixing.
 */

$experimental-support-for-mozilla : false;
$experimental-support-for-webkit : true;
$support-for-original-webkit-gradients : true;
$experimental-support-for-opera : false;
$experimental-support-for-microsoft : false;
$experimental-support-for-khtml : false;


/*
 * Define Global SASS variables.
 */

$light-off-black: #2f2f2f;
$off-black: #262626;
$off-white: #ebebeb;
$nice-green: #7cb313;

$google-green: #0F9D58;
$google-red: #DB4437;
$google-yellow: #ffc001;
$google-blue: #4285F4;

$mid-grey: #676767;

$app-dock-height: 55px;
$window-title-bar-height: 52px;
$left-app-menu-width: 190px;


 /*
 * Import Sass add-ons
 */

@import "compass";
@import "normalize";
@import "animation";
@import "keyframes";



/*
 * Over-ride some stupid ionic styles...
 */


.scroll, .scroll-view {
	height: 100%;
}


// Available fonts + weights:
// Roboto:
// 	300italic,
// 	400italic,
// 	400,
// 	700,
// 	800,
// 	600,
// 	300
// Vollkorn:
// 	400,
// 	700

/*
 * Base styles
 */

body {
	
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;	
	overflow: hidden;
	font-family: 'Roboto', san-serif;
	font-weight: 300;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
}

body {
	
	background: darken(silver, 15%);
	
	&.pulldown-mode {
		hgroup {
			.cancel {
				display: block;
			}
			h1 {
				display: block;
			}
			h2 {
				&:after {
					content: "mode" !important;
				}
				strong {
					&:before {
						content: "Card receive " !important;
					}
				}
			}
		}
	}
	
	&.animate {
		.app-container {
			@include transition-duration( .2s );
		}
		#pull-down-area {
			&:before {
				opacity: 0;
			}
		}
	}
}

.app-header {
	position: absolute;
	z-index: 5;
	top: 0;
	width: 100%;
	height: 55px;
	white-space: nowrap;

	@include background-image(linear-gradient(top, rgba(0,0,0,.34) 0%, rgba(0,0,0,0) 95%));
	@include translate3d( 0,0,0 );
	
	> * {
		vertical-align: middle;
		display: inline-block;
	}
	a {
		margin: 5px 0 0 10px;
	}
	h1 {
		text-align: left;
		margin: 9px 0 0 20px;
		color: white;
		font-size: 24px;
		font-weight: 300;
		line-height: 1.1;
		text-shadow: 0 1px 0 rgba(0,0,0,.15);
	}
}

.app-container {
	margin: 0;
	height: 100%;

	@include transition-property( transform );
	@include transition-duration( 0s );
	@include transition-timing-function( ease-in-out ); 

}











/*
 * App home screen styles...
 */


.drag-functionality-area {
	
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 25px;

	> * {
		margin: 0;
		font-family: 'Vollkorn', serif;
		font-weight: 400;
		color: white;
	}

	.cancel {
		position: absolute;
		padding: 0 15px;
		line-height: 35px;
		font-size: 15px;
		font-weight: 600;
		font-family: "Roboto", san-serif;
		text-transform: lowercase;
		cursor: pointer;
		display: none;
	}
	
	h2 {
		font-family: "Roboto", san-serif;
		font-size: 13px;
		font-weight: 300;

		strong {
			&:before {
				content: "Pull down "
			}
		}
	}
	h1 {
		font-size: 24px;
		text-align: center;
		display: none;
	}
}

#pull-down-area {
	
	top: 0; left: 0;
	background: $off-black;
	overflow: hidden;
	@include translate3d( 0,0,0 );
	
	&:before {
		content: "";
		width: 0;
		height: 7px;
		position: absolute;
		background: darken($off-white, 30%);
		top: 0;
		left: 0;

		@include transition-property( width, opacity );
		@include transition-duration( .1s );
		@include transition-delay( 0 );
		@include transition-timing-function( ease-in-out ); 
	}

	.cancel {
		top: 13px; right: 13px;
		background: lighten(#1c1c1c, 7%);
		color: rgba(255,255,255,.7);
	}
	
	h2 {
		color: darken($off-white, 40%);

		&:after {
			content: "to receive cards"
		}
	}
	h1 {
		margin: 56px 0 0 0;

		&:before {
			content: "";
			display: inline-block;
			vertical-align: top;
			width: 40px;
			height: 40px;
			border-radius: 20px;
			margin: -9px 28px 0 0;
			box-shadow: inset 0 0 0 4px white;
		}
	}

	&[data-percent="100"] {
		&:before {
			transition-delay: 0, .5s;
			opacity: 0;
		}
		h2 {
			strong:before {
				content: "Release ";
			}
		}
	}

	$step: 10;
	$loops: round(100 / $step);
	@for $i from 0 through $loops {
		&[data-percent="#{$i * $step}"] {
			&:before {
				width: $i * 10%;
			}
		}
	}
}

#scroller {
	
	height: 100%;
	position: relative;

	.stacker-cntnr {
		height: 100%;
	}

	article {
		position: absolute;
		top: 0;
		width: 140px;
		background: white;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0;
		overflow: hidden;
		border-top: 1px solid $off-black;
		border-right: 1px solid $off-black;
		
		// @TODO:
		// Android pre 4.4   webview doesn't support this property...
		// height: 200px;
		height: calc(33.3333% - .2px);

		@include transition-property( transform );
		@include transition-duration( .4s );
		@include transition-delay( 1s );
		@include transition-timing-function( ease-in-out ); 
		
		$step: 1;
		$loops: round(10 / $step);
		@for $i from 0 through $loops {
			&:nth-child(#{$i * $step}) {
				z-index: 2;
				@include transition-delay( 0 );
				@include transition-duration( .03s * $i );
			}
		}

		a {
			display: block;
			height: 100%;
		}

		h3 {
			position: absolute;
			bottom: 0;
			left: 0; right: 0;
			margin: 0;
			padding: 25px 15px 15px;
			color: white;
			font-weight: 500;
			font-size: 15px;
			line-height: 1.1;
			text-shadow: 0 1px 0 rgba(0,0,0,.1);

			@include background-image(linear-gradient(bottom, rgba(0,0,0,.35) 0%, rgba(0,0,0,0) 100%));
		}
	}
}










